 <widget id="A6087866889564"  version="0.0.1">
    <name>医寸金</name>
    <description>
        医寸金
    </description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">
        walkbug
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="pageBounce" value="false"/>
	<preference name="appBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
	<!-- <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/> -->
	<preference name="hScrollBarEnabled" value="false"/>
	<preference name="vScrollBarEnabled" value="false"/>
	<preference name="autoLaunch" value="true"/>
	<preference name="fullScreen" value="false"/>
	<preference name="autoUpdate" value="true" />
	<preference name="smartUpdate" value="false" />
	<preference name="debug" value="true"/>
	<preference name="statusBarAppearance" value="true"/>  <preference name="backgroundMode" value="bluetooth-central | bluetooth-peripheral"/>
	<permission name="readPhoneState" />
	<permission name="camera" />
	<permission name="record" />
	<permission name="location" />
	<permission name="fileSystem" />
	<permission name="internet" />
	<permission name="bootCompleted" />
	<permission name="hardware" />  <feature name="smsVerify">  <param name="android_app_key" value="290f6ab39317e"/>  <param name="android_app_secret" value="ea1ef7315127f6c3b277c39e33178c8e"/>  <param name="ios_app_key" value="290f6ab39317e"/>  <param name="ios_app_secret" value="ea1ef7315127f6c3b277c39e33178c8e"/></feature>
</widget>